body {
  background-image: radial-gradient(140% 107% at 50% 10%, #000314 37.41%, #6633EE 69.27%, #FFFFFF 100%);

  background-color: #070709;
  color: white;
}

.title {

  color: white;
  margin-bottom: 1 rem;
}

.box {
  margin-top: 50px;
}
.input{
  background-color: #0f0330;
  color:#d7d7fa;
  font-size: 26px;
  text-shadow: 0 0 6px #c3c3fb;
}
.input::placeholder{
  color: #d7d7fadd;
  font-size: 21px;
  font:caption;
}
.panel {
  background-color: #070709;
  color:aliceblue;
  margin-top: 2em;
}

.panel-heading {
  background-image: linear-gradient(to left,#38052F, #070709);
  background-color: black;
  color: white;
}
.panel-block{
  background-color: #000314ad;
  color: rgba(255, 255, 255, 0.723);
}
.address-box {
  background-image: linear-gradient(103.58deg, #B6D0F7 0.9%, #EEF4E1 21.12%, #E2C1F9 39.05%, #BFD1F9 52.2%, #FAFCFE 62.83%, #BAE4E2 71.67%, #8C6BE3 89.14%);

  backdrop-filter: blur(3px);
  padding: 4em;
}

.box .title {
  color: #e7e7e7;
}

.navbar {
  padding-bottom: 1em;
  background-color: black;
}

.navbar .navbar-item {
  color: white;
}

.connect-wallet span {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 13px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.connect-wallet:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}
.connect-wallet:active{
  box-shadow: 0 0 0.6em .25em var(--glow-color),
  0 0 2.5em 2em var(--glow-spread-color),
  inset 0 0 .5em .25em var(--glow-color);
}
.container.main-content {
  max-width: 1000px !important;
}

.faucet-hero-body {
  margin-top: 100px;
}

.withdraw-error {
  color: red;
}

.withdraw-success {
  color: green;
}
.button-40 {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 12.5px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 2em 0em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  }

.button-40::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.button-40:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.button-40:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}
.connect-w {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  padding-top: 10px;
  top: 7px ;
  color: var(--glow-color);
  font-size: 12.5px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 2em 0em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  }

.connect-w::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.connect-w:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.connect-w:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}
.containerr {
  display: flex;
  padding: 10px;
  padding-bottom: 20px;
}

.boxx {
  flex: 1;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: 1px solid #ccc;
  margin: 23px;
  height: 150px;
  width:150px;
  --glow-color: rgb(190, 144, 233);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  color: #d9d1f7;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background-color: #57409b7e;
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 2em 0em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  font-size: large;
  bottom: 20px;
}
.boxx:hover{
  color: #dcceee;
  background-color: rgba(77, 34, 117, 0.604);;
  box-shadow: 0 0 1em .25em var(--glow-color),
        
        inset 0 0 .75em .25em var(--glow-color);
}
.boxx a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: var(--enhanced-glow-color);
}
.boxx img {
  align-items: center;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire box */
  height: 100%; /* Cover the entire box */
  object-fit: cover; /* Maintain aspect ratio and cover the box */
}
.alt{
  color:#c5b2f9;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: var(--glow-color);
  background: #0e0529;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-85:hover{
  color: aliceblue;
  text-shadow:0 0 2px rgb(231, 206, 255); ;
  background-color: #22124f;
}
.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #002bff,
    #7a00ff,
    #ff00c8,
    #00ddff,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
a{
  color:aliceblue;
}
@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--glow-color);
  background: #13092f;
  background: #110927dc;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.button-41 {
  padding: 40px 30px;
  text-align: center;
  top: 2px;
  bottom: 50px;
  width: 500px;
  border: 0;
  font-size: 20px;
  transition: all 150ms ease-in-out;
margin: 50px;
  border-radius: 14px;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  background-image: radial-gradient(50% 115% at 50% -5%, rgba(255, 255, 255, 0.11) 0%, transparent 100%);
  box-shadow: inset 0 0px 10px 0px rgba(255, 255, 255, 0.14), inset 0px 5px 10px 0px rgba(255, 255, 255, 0.11), inset 0px 2px 5px 0px rgba(255, 255, 255, 0.4), inset 0px 3px 20px 0px rgba(0, 0, 0, 0.25);
}

.button-41:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
p{
  color:#ece9fe;
}
.button-41:active {
  transform: scale(.95);
}
.about{
  color: var(--glow-color);
  text-shadow: 0 0 1px aliceblue;
  font-weight: 600;
  font-size: 40px;
  bottom: 30px;
}
.aboutt{
  color: var(--glow-color);
  text-shadow: 0 0 8px aliceblue;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  bottom: 14px;
}
.about-us-container {
  max-width: 700px;
  margin: 0 auto;
  border-radius: 12px;
  background-color: #0b03236c;
  padding: 30px;
  box-shadow: rgba(6, 6, 37, 0.679) 0px 30px 60px -12px inset, rgba(17, 3, 42, 0.564) 0px 18px 36px -18px inset;
  text-align: center;
}

.about-us-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 8px; /* Optional: Add a border-radius for a rounded image */
}
  @import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
  
  *,
  ::before,
  ::after {
    box-sizing: border-box; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
    border-color: #e5e7eb; /* 2 */
  }
  ::before,
  ::after {
    --tw-content: '';
  }
  
  html {
    line-height: 1.5; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    -o-tab-size: 4;
       tab-size: 4; /* 3 */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
    font-feature-settings: normal; /* 5 */
    font-variation-settings: normal; /* 6 */
  }
  
  body {
    margin: 0; /* 1 */
    line-height: inherit; /* 2 */
  }
  
  hr {
    height: 0; /* 1 */
    color: inherit; /* 2 */
    border-top-width: 1px; /* 3 */
  }
  
  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  a {
    color: inherit;
    text-decoration: inherit;
  }
 
  b,
  strong {
    font-weight: bolder;
  }
  
  code,
  kbd,
  samp,
  pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  small {
    font-size: 80%;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  
  blockquote,
  
  p,
  pre {
    margin: 0;
  }
  fieldset {
    margin: 0;
    padding: 0;
  }
  legend {
    padding: 0;
  }
  ol,
  ul,
  menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  img,

  .visible{
    visibility: visible;
  }
  .fixed{
    position: fixed;
  }
  .absolute{
    position: absolute;
  }
  .relative{
    position: relative;
  }
  .inset-0{
    inset: 0px;
  }
  .bottom-\[10px\]{
    bottom: 10px;
  }
  .left-0{
    left: 0px;
  }
  .top-0{
    top: 0px;
  }
  .top-\[-340px\]{
    top: -340px;
  }
  .z-10{
    z-index: 10;
  }
  .z-50{
    z-index: 50;
  }
  .z-\[-10\]{
    z-index: -10;
  }
  .z-\[1\]{
    z-index: 1;
  }
  .z-\[20\]{
    z-index: 20;
  }
  .z-\[5\]{
    z-index: 5;
  }
  .m-auto{
    margin: auto;
  }
  .my-5{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .my-\[15px\]{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .my-\[20px\]{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mb-10{
    margin-bottom: 2.5rem;
  }
  .mb-\[15px\]{
    margin-bottom: 15px;
  }
  .mb-\[20px\]{
    margin-bottom: 20px;
  }
  .ml-\[10px\]{
    margin-left: 10px;
  }
  .ml-\[6px\]{
    margin-left: 6px;
  }
  .mr-\[10px\]{
    margin-right: 10px;
  }
  .mr-\[15px\]{
    margin-right: 15px;
  }
  .mt-2{
    margin-top: 0.5rem;
  }
  .mt-4{
    margin-top: 1rem;
  }
  .mt-40{
    margin-top: 10rem;
  }
  .mt-6{
    margin-top: 1.5rem;
  }
  .mt-\[10px\]{
    margin-top: 10px;
  }
  .flex{
    display: flex;
  }
  .hidden{
    display: none;
  }
  .h-5{
    height: 1.25rem;
  }
  .h-\[65px\]{
    height: 65px;
  }
  .h-auto{
    height: auto;
  }
  .h-full{
    height: 100%;
  }
  .min-h-screen{
    min-height: 100vh;
  }
  .w-5{
    width: 1.25rem;
  }
  .w-\[500px\]{
    width: 500px;
  }
  .w-\[50px\]{
    width: 50px;
  }
  .w-auto{
    width: auto;
  }
  .w-full{
    width: 100%;
  }
  .min-w-\[200px\]{
    min-width: 200px;
  }
  .max-w-\[200px\]{
    max-width: 200px;
  }
  .max-w-\[600px\]{
    max-width: 600px;
  }
 
  .cursor-pointer{
    cursor: pointer;
  }
  .flex-row{
    flex-direction: row;
  }
  .flex-col{
    flex-direction: column;
  }
  .flex-wrap{
    flex-wrap: wrap;
  }
  .items-start{
    align-items: flex-start;
  }
  .items-center{
    align-items: center;
  }
  .justify-start{
    justify-content: flex-start;
  }
  .justify-center{
    justify-content: center;
  }
  .justify-between{
    justify-content: space-between;
  }
  .justify-around{
    justify-content: space-around;
  }
  .gap-10{
    gap: 2.5rem;
  }
  .gap-20{
    gap: 5rem;
  }
  .gap-3{
    gap: 0.75rem;
  }
  .gap-5{
    gap: 1.25rem;
  }
  .gap-6{
    gap: 1.5rem;
  }
  
  .p-4{
    padding: 1rem;
  }
  .p-\[15px\]{
    padding: 15px;
  }
  .px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .px-20{
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .px-\[10px\]{
    padding-left: 10px;
    padding-right: 10px;
  }
  .px-\[15px\]{
    padding-left: 15px;
    padding-right: 15px;
  }
  .px-\[20px\]{
    padding-left: 20px;
    padding-right: 20px;
  }
  .px-\[5px\]{
    padding-left: 5px;
    padding-right: 5px;
  }
  .px-\[7px\]{
    padding-left: 7px;
    padding-right: 7px;
  }
  .py-2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .py-\[10px\]{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .py-\[4px\]{
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .py-\[8px\]{
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .pb-80{
    padding-bottom: 20rem;
  }
  .text-center{
    text-align: center;
  }
  .text-start{
    text-align: start;
  }
  .text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }
  .text-\[12px\]{
    font-size: 12px;
  }
  .text-\[13px\]{
    font-size: 13px;
  }
  .text-\[15px\]{
    font-size: 15px;
  }
  .text-\[16px\]{
    font-size: 16px;
  }
  .text-\[20px\]{
    font-size: 20px;
  }
  .text-\[30px\]{
    font-size: 30px;
  }
  .text-\[40px\]{
    font-size: 40px;
  }
  .text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .font-bold{
    font-weight: 700;
  }
  .font-medium{
    font-weight: 500;
  }
  .font-semibold{
    font-weight: 600;
  }
  .text-\[\#b49bff\]{
    --tw-text-opacity: 1;
    color: rgb(180 155 255 / var(--tw-text-opacity));
  }
  .text-gray-200{
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity));
  }
  .text-gray-300{
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity));
  }
  .text-gray-400{
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }
  .text-transparent{
    color: transparent;
  }
  .text-white{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  .opacity-30{
    opacity: 0.3;
  }
  .opacity-\[0\.9\]{
    opacity: 0.9;
  }
  @media (min-width: 768px){
    .md\:mr-10{
      margin-right: 2.5rem;
    }
    .md\:block{
      display: block;
    }
    .md\:flex-row{
      flex-direction: row;
    }
  }

  
